.bg-white {
    background-color: var(--white);
}

.bg-green {
    background-color: var(--green);
}

.color-white {
    color: var(--white);
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    /* padding: 5rem 0; */
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .title {
    color: var(--white);
    font-size: 4.9rem;
    font-weight: 600;
}