.bg-white {
    background-color: var(--white);
}

.bg-green {
    background-color: var(--green);
}

.color-white {
    color: var(--white);
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    width: 25%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    /* padding: 5rem 0; */
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    padding: 30px 0px;
    max-height: 80vh;
    overflow-y: scroll;
}

.card {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray3);
}

.card .aerolinea {
    color: var(--red);
    font-weight: 400;
}

.container .title {
    color: var(--white);
    font-size: var(--title-font-size);
    font-weight: 600;
}

.card p {
    margin: 0;
    font-size: 1.9rem;
    font-weight: 200;
}

@media screen and (max-width: 1261px) {

    :root {
        --title-font-size: 4.5rem;
    }
}
@media screen and (max-width: 1180px) {

    :root {
        --title-font-size: 4rem;
    }
}
@media screen and (max-width: 1030px) {

    :root {
        --title-font-size: 3.5rem;
    }
}
@media screen and (max-width: 900PX) {

    .page {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        min-height: initial;
    }
    .main {
        width: 100%;
        margin-top: 20px;
    }
    .card-container {
        width: 90%;
        overflow-y: initial;
    }
    .card {
        width: 100%;
    }
}
@media screen and (max-width: 510px) {
    .container {
        width: 88%;
    }
    .card p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 374px) {
    :root {
        --title-font-size: 2.8rem;
    }
    .card-container {
        width: 70%;
    }
    .card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}